<div>
  <h2>Currency Converter</h2>

  <div *ngIf="loading">Loading rates...</div>
  <div *ngIf="!loading && currencyRates.length">
    <div class= "currency-amount">
      <input
        class = "converter-input"
        type="number"
        [(ngModel)]="amount"
        placeholder="Enter amount in EUR"
      >
      <select [(ngModel)]="selectedCurrency">
        <option *ngFor="let rate of currencyRates" [value]="rate.currency">
          {{ rate.currency }}
        </option>
      </select>
    </div>
    <p *ngIf="convertedAmount !== null">
      {{ amount }} EUR = {{ convertedAmount | number:'1.2-2' }} {{ selectedCurrency }}
    </p>
  </div>
</div>
